:root {
  /* esquema de colores */
  --background-color: #121212; /* Negro profundo, no puro */
  --primary-text-color: #e0e0e0; /* Blanco grisáceo para no cansar la vista */
  --secondary-text-color: #a0a0a0; /* Gris medio para detalles */
  --accent-color: #bb86fc; /* Púrpura neón como color de acento */
  --accent-color-transparencia: rgba(187, 134,252, 0.5);  /* Púrpura neón con transparencia*/
  --secondary-accent-color: #03dac6; /* Turquesa para un segundo acento */

  /* tipografias */
    --roboto: "Roboto", sans-serif;
    --poppins: "Poppins", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

body {
  width: 100vw;
  min-height: 100vh;
  background-color: var(--background-color);
  color: var(--primary-text-color);
  font-family: var(--roboto);
}