/* mobile first */
.principal__section--sobre {
    align-items: center;
}

.sobre {
    display: flex;
    padding: 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    position: relative;
}

.sobre-contenedor-imagen {
    flex: 0 0 50%;
}

.sobre__imagen {
    width: 100%;

    object-fit: cover;
}

.sobre__descripcion {
    flex: 0 0 50%;
    font-family: var(--poppins);
}

.descripcion__tablet {
    display: none;
}

.descripcion__mobile {
    text-align: center;
}

.sobre__enlace {
    max-width: 80%;
    flex: 1 1 80%;
    padding: 1rem;
    border-radius: 1rem;
    background-color: var(--primary-text-color);
    color: var(--background-color);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    transition: all 0.3s ease;
}

.sobre__enlace:hover {
    transform: scale(1.1);
    background-color: var(--secondary-accent-color)
}

/* responsive */
/* tablet */
@media (min-width: 768px) {
    .sobre {
        flex-direction: row;
    }

    .descripcion__tablet {
        display: flex;
        font-size: 1rem;
    }

    .descripcion__mobile {
        display: none;
    }

    .sobre::before,
    .sobre::after {
        content: '';
        width: 100%;
        height: 4rem;
        background-color: var(--accent-color);
        position: absolute;
        left: 0;
    }

    .sobre::before {
        top: 0;
    }

    .sobre::after {
        bottom: 0;
    }

    .sobre__enlace {
        max-width: 45%;
        flex-basis: 45%;
        padding: 0.75rem;
        position: relative;
        bottom: 4.25rem;
    }
}

/* desktop */
@media (min-width: 1024px) {

    .sobre::before,
    .sobre::after {
        height: 6rem;
    }

    .sobre__imagen {
        height: 40rem;
    }

    .descripcion__tablet {
        font-size: 1.5rem;
    }

    .sobre__enlace {
        max-width: 30%;
        flex-basis: 30%;
        font-size: 1.5rem;
        bottom: 5.5rem;
    }
}