/* mobile first */
.principal__section--conocimientos {}

.tarjetas-conocimientos {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.tarjetas-conocimientos__tarjeta {
    max-width: calc(50% - 0.5rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    flex: 1 1 calc(50% - 2.5rem);
    outline: 1px solid var(--accent-color);
    background-color: var(--background-color);
    border-radius: 0.5rem;
    padding: 1rem;
}

.tarjetas-conocimientos__tarjeta:hover {
    outline: 3px solid var(--secondary-accent-color);
    color: var(--accent-color);
    transform: scale(1.1);
}

.tarjetas-conocimientos__icono {
    font-size: 3rem;
}

.tarjetas-conocimientos__titulo {
    font-size: 1.5rem;
    font-family: var(--roboto);
    text-transform: capitalize;
}

/* responsive */
/* tablet */
@media (min-width: 768px) {
    .tarjetas-conocimientos {
        gap: 0.75rem;
    }

    .tarjetas-conocimientos__tarjeta {
        max-width: calc((100% - 1.5rem)/3);
        flex: 1 1 calc((100% - 1.5rem) / 3);
    }
}

/* desktop */
@media (min-width: 1024px) {
    .tarjetas-conocimientos {
        gap: 1rem;
    }

    .tarjetas-conocimientos__tarjeta {
        max-width: calc((100% - 4rem)/5);
        flex: 1 1 calc((100% - 4rem) / 5);
    }
}