/* mobile first */
.principal__section--conocimientos {}

.tarjetas-conocimientos {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.5rem;
    padding: 0 1rem;
    perspective: 1000px
}

.tarjetas-conocimientos__tarjeta {
    max-width: calc(50% - 0.5rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    flex: 1 1 calc(50% - 2.5rem);
    outline: 1px solid var(--accent-color);
    background-color: var(--background-color);
    border-radius: 0.5rem;
    padding: 1rem;
    transition: all 0.3s ease-in-out;
}

/* .tarjetas-conocimientos__tarjeta:hover {
    outline: 3px solid var(--secondary-accent-color);
    color: var(--accent-color);
    transform: scale(1.1);
} */

.tarjetas-conocimientos__tarjeta:hover {
    /* Brillo de múltiples capas con box-shadow */
    box-shadow: 0 0 5px var(--secondary-accent-color),
        0 0 10px var(--secondary-accent-color),
        0 0 20px rgba(3, 218, 198, 0.5);
    transform: translateY(-5px);
    transform: rotateY(-10deg) scale(1.05);
    outline: 2px solid var(--secondary-accent-color);
    color: var(--accent-color);
}

.tarjetas-conocimientos__tarjeta:hover .tarjetas-conocimientos__icono {
    text-shadow: 0 0 8px var(--secondary-accent-color);
    -webkit-text-stroke: 1px var(--background-color);
}

.tarjetas-conocimientos__icono {
    font-size: 3rem;
    transition: all 0.3s ease-in-out;
}

.tarjetas-conocimientos__titulo {
    font-size: 1.5rem;
    font-family: var(--roboto);
    text-transform: capitalize;
}

/* responsive */
/* tablet */
@media (min-width: 768px) {
    .tarjetas-conocimientos {
        gap: 0.75rem;
        padding: 0 1.5rem;
    }

    .tarjetas-conocimientos__tarjeta {
        max-width: calc((100% - 1.5rem)/3);
        flex: 1 1 calc((100% - 1.5rem) / 3);
    }
}

/* desktop */
@media (min-width: 1024px) {
    .tarjetas-conocimientos {
        gap: 1rem;
        padding: 2rem;
    }

    .tarjetas-conocimientos__tarjeta {
        max-width: calc((100% - 4rem)/5);
        flex: 1 1 calc((100% - 4rem) / 5);
    }
}