/* first mobile */
.principal__section--proyectos {
  padding: 1.5rem 0;
  text-align: center;
}

/* Contenedor del carrusel */
.tarjetas-proyectos {
  width: 100%;
  height: auto;
  display: flex;
  /* Permite el scroll horizontal */
  overflow-x: auto;
  /* Activa el "snap" en el eje X */
  scroll-snap-type: x mandatory;
  /* Scroll suave en dispositivos móviles */
  -webkit-overflow-scrolling: touch;
  padding: 1.5rem 0;
}

/* --- ESTILOS PARA SCROLLBAR --- */
/* Para Firefox */
.tarjetas-proyectos {
  scrollbar-width: thin;
  scrollbar-color: var(--accent-color) var(--background-color);
}

/* Para WebKit (Chrome, Safari, Edge, Opera) */
.tarjetas-proyectos::-webkit-scrollbar {
  height: 1rem;
}

.tarjetas-proyectos::-webkit-scrollbar-track {
  background-color: var(--background-color);
  border-radius: 0.75rem;
  margin-inline: 1rem;
}

.tarjetas-proyectos::-webkit-scrollbar-thumb {
  background-color: var(--accent-color);
  border-radius: 0.75rem;
  border: 2px solid var(--background-color);
}

.tarjetas-proyectos::-webkit-scrollbar-thumb:hover {
  background-color: var(--secondary-accent-color);
}


/* Tarjeta individual del proyecto */
.tarjetas-proyectos__tarjeta {
  /* Cada tarjeta ocupa el 80% del ancho del contenedor */
  flex: 0 0 80%;
  max-width: 25rem;
  margin: 0 1rem;
  /* Centra la tarjeta al hacer "snap" */
  scroll-snap-align: center;
  background-color: var(--accent-color-transparencia);
  border-radius: 0.25rem;
  padding: 0.25rem;
  overflow: hidden;
  transition: all 0.3s ease;
  position: relative;
}

.tarjetas-proyectos__tarjeta:hover {
  transform: translateY(-0.75rem);
  box-shadow: 0 5px 15px var(--secondary-accent-color);
}

.tarjeta-link {
  text-decoration: none;
  color: inherit;
  display: block;
}

.tarjeta-iframe-contenedor {
  border-radius: 0.25rem;
  position: relative;
  aspect-ratio: 16 / 9;
  overflow: hidden;
  background-color: var(--primary-text-color);
}


.tarjeta-iframe {
  position: absolute;
  top: 0;
  left: 0;
  /* viewport  de 1280px */
  width: 400%;
  height: 400%;
  /* Escala inversa: 1 / 4 = 0.25 */
  transform: scale(0.25);
  /* transformación ocurre desde la esquina superior izquierda */
  transform-origin: 0 0;
  pointer-events: none;
  border: 0;
}

.tarjeta-contenido {
  padding: 1.5rem 0;
}

.tarjeta-contenido h3 {
  margin: 0 0 0.5rem;
  font-size: 1.5rem;
}

.tarjeta-contenido p {
  font-size: 1rem;
  color: var(--secondary-text-color);
}

.tarjeta-github {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
  text-decoration: none;
  color: var(--background-color);
  background-color: var(--secondary-accent-color);
  transition: background-color 0.3s ease;
}

.tarjeta-github:hover {
  background-color: var(--accent-color);
}

.tarjeta__icono {
  font-size: 1.5rem;
  color: var(--background-color);
  transition: all 0.3 ease;
}

.tarjeta-github:hover .tarjeta__icono {
  color: var(--primary-text-color);
  transform: scale(1.5);
  -webkit-text-stroke: 1px var(--background-color);
}

/* responsive */
/* tablet */
@media (min-width: 768px) {
  .tarjetas-proyectos__tarjeta {
    flex-basis: 45%;
  }
}

/* desktop */
@media (min-width: 1024px) {
  .tarjetas-proyectos__tarjeta {
    flex-basis: 30%;
  }
}