/* first mobile */
.principal__section--contacto {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
}

.formulario__fila {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.formulario__campo {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.campo__label {
    text-transform: capitalize;
    padding-inline-start: 1rem;
    color: var(--accent-color);
    font-family: inherit;
}

.campo__input {
    width: 100%;
    border-radius: 0.5rem;
    border: none;
    padding: 0.5rem 1rem;
    font-family: inherit;
}

.campo__input:focus-visible {
    border: none;
    outline: 2px solid var(--accent-color);
}

.formulario__botones {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.formulario__boton {
    width: 8rem;
    padding: 0.5rem 1.5rem;
    border-radius: 0.5rem;
    border: none;

    text-transform: uppercase;
    font-weight: bold;

    transition: all 0.3s ease;
}

.formulario__boton--enviar,
.formulario__boton--cancelar {
    outline: 2px solid var(--secondary-accent-color);
}

.formulario__boton--enviar {
    background-color: var(--accent-color);
}

.formulario__boton:hover {
    transform: scale(1.2);
}

/* responsive */
/* tablet */
@media (min-width: 768px) {
    .formulario {
        width: 80%;
    }

    .formulario__fila {
        width: 100%;
        flex-direction: row;
    }

    .campo__input {
        max-width: 100%;
    }

    .formulario__botones {
        flex-direction: row;
    }
}

/* desktop */
@media (min-width: 1024px) {}