/* first mobile */
.pie {
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--secondary-accent-color);
    color: var(--background-color);
    border-top: 1rem solid var(--accent-color);
    gap: 1rem;
}

.pie__contenido-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.pie__lista,
.pie__lista--redes {
    list-style: none;
    text-align: center;
}

.pie__item {
    padding: 0.5rem 1rem;
}

.pie__link {
    color: var(--background-color);
    text-transform: capitalize;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.25rem;
}

.pie__nav--redes {
    padding: 0.5rem 0;
}

.pie__item:hover {
    border-radius: 1rem;
    background-color: var(--accent-color);
    outline: 2px solid var(--background-color);
    text-shadow: 0 0 8px var(--accent-color);
    transition: all 0.2s ease-in;
}

.pie__link--redes {
    color: var(--background-color);
}

.pie__lista--redes {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.pie__icono--redes {
    font-size: 2rem;
}

/* Efecto de animación */
.pie__icono--redes:hover {
    transform: scale(1.2);
    color: var(--accent-color);
    -webkit-text-stroke: 1px var(--background-color);
}

.pie__parrafo {
    font-weight: bold;
}

/* responsive */
/* tablet */
@media (min-width: 768px) {
    .pie {
        padding: 2rem;
        gap: 0.75rem;
    }

    .pie__contenido-principal {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
    }
}

/* desktop */
@media (min-width: 1024px) {
    .pie__lista {
        display: flex;
        gap: 0.5rem;
    }
}